In [34]:
import pandas as pd

In [48]:
train = pd.read_csv(r'C:\Users\JH\Desktop\Final\CBA\Data\데이터정리중\재무변수_부도이유.csv', index_col= 0)

In [49]:
train.columns

Index(['회사명', '거래소코드', '회계년도', '소속코드', '상장폐지일', '감사의견코드', '자산총계(요약)',
       '유동자산(요약)', '당좌자산(요약)', '현금 및 현금성자산(요약)',
       ...
       'PSR(Price sales ratio)(최저)', '기업가치(EV)', 'EBITDA', 'EBITDA/매출액',
       'EBITDA/금융비용', 'EBITDA/평균발행주식수', 'EV/EBITDA', '년', 'key', '공시제목'],
      dtype='object', length=270)

In [50]:
tf = train[['거래소코드']].dropna(axis=0)
tf

         거래소코드
0      58820.0
1      58820.0
2      58820.0
3      58820.0
4      58820.0
...        ...
27352  24060.0
27353  24060.0
27354  24060.0
27355  24060.0
27356  24060.0

[27357 rows x 1 columns]

In [58]:
train = train.iloc[0:27357]

In [61]:
train

,회사명,거래소코드,회계년도,소속코드,상장폐지일,감사의견코드,자산총계(요약),유동자산(요약),당좌자산(요약),현금 및 현금성자산(요약),...,PSR(Price sales ratio)(최저),기업가치(EV),EBITDA,EBITDA/매출액,EBITDA/금융비용,EBITDA/평균발행주식수,EV/EBITDA,년,key,공시제목
0,(주)CMG제약,58820.0,2000/12,5.0,NaN,UQ,28990.0,21169.0,10541.0,4330.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001.0,588202001,NaN
1,(주)CMG제약,58820.0,2001/12,5.0,NaN,UQ,20908.0,16359.0,2307.0,1829.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002.0,588202002,NaN
2,(주)CMG제약,58820.0,2002/12,5.0,NaN,UQ,15401.0,9880.0,1436.0,355.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.0,588202003,NaN
3,(주)CMG제약,58820.0,2003/12,5.0,NaN,UQ,11063.0,8534.0,1083.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.0,588202004,NaN
4,(주)CMG제약,58820.0,2004/12,5.0,NaN,UQ,5179.0,3893.0,445.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,588202005,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27352,흥구석유(주),24060.0,2016/12,5.0,NaN,UQ,79137.0,14794.0,12274.0,1440.0,...,0.28,55934.79,1348.52,0.94,10.71,89.90,41.48,2017.0,240602017,NaN
27353,흥구석유(주),24060.0,2017/12,5.0,NaN,UQ,79912.0,15880.0,13124.0,1588.0,...,0.24,46036.63,1147.56,0.74,9.02,76.50,40.12,2018.0,240602018,NaN
27354,흥구석유(주),24060.0,2018/12,5.0,NaN,UQ,75206.0,12515.0,11029.0,4017.0,...,0.24,36557.57,1451.79,0.87,16.83,96.79,25.18,2019.0,240602019,NaN
27355,흥구석유(주),24060.0,2019/12,5.0,NaN,UQ,83661.0,22620.0,19701.0,2318.0,...,0.25,78081.78,1009.25,0.67,507.93,67.28,77.37,2020.0,240602020,NaN
27356,흥구석유(주),24060.0,2020/12,5.0,NaN,UQ,83721.0,27688.0,25313.0,1413.0,...,0.40,107308.51,16.31,0.01,0.00,1.09,6579.47,2021.0,240602021,NaN

# **감사의견거절 감사보고서 부적정·의견거절·범위제한한정**
![screensh](ClipboardImage_2021-11-22_163548.png)



- AG, DS, DU, DI, QS

In [72]:
subset = train[['소속코드','감사의견코드','공시제목']] 
subset

       소속코드 감사의견코드 공시제목
0       5.0     UQ  NaN
1       5.0     UQ  NaN
2       5.0     UQ  NaN
3       5.0     UQ  NaN
4       5.0     UQ  NaN
...     ...    ...  ...
27352   5.0     UQ  NaN
27353   5.0     UQ  NaN
27354   5.0     UQ  NaN
27355   5.0     UQ  NaN
27356   5.0     UQ  NaN

[27357 rows x 3 columns]

In [70]:
subset['감사의견코드'].value_counts()

UQ    26182
DU      232
QS      123
DS      123
QU      114
QG       42
AG       15
NS       11
QQ        2
Name: 감사의견코드, dtype: int64

In [80]:
subset.loc[(subset['소속코드'] == 4) & (subset['감사의견코드'] == 'DS')]

# replace로 해결

       소속코드 감사의견코드      공시제목
803     4.0     DS       NaN
890     4.0     DS       NaN
1209    4.0     DS       NaN
1383    4.0     DS  회생절차개시신청
1560    4.0     DS       NaN
...     ...    ...       ...
25348   4.0     DS       NaN
25799   4.0     DS       NaN
25931   4.0     DS       NaN
26814   4.0     DS       NaN
27095   4.0     DS       NaN

[86 rows x 3 columns]